.contact-section {
  padding: 2rem;
  color: #fff;
  // background-color: #c62a2a;
  // width: 800px;
  margin: 0 auto;
  width:100vw;
  height:100vh;
  box-sizing: border-box
}

.contact-title-area {
  margin-bottom: 3rem;
  margin-left:5rem;
}

.contact-subheading {
  font-size: 0.875rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #888;
  margin-bottom: 0.5rem;
  // margin-left: 1rem;
}

.contact-heading {
  font-size: 3rem;
  font-weight: 700;
  color: #9acd32; /* purple */
  margin-bottom: 1rem;
  // margin-left: 1rem;
}

.contact-description {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 2rem;
  // margin-left: 1rem;
}

.contact-form {
  // background-color: aquamarine;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width:50rem;
  margin-left:20rem;
}

.contact-input,
.contact-textarea {
  background: transparent;
  border:   1px solid #6038ff;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  color: #fff;
  font-size: 1rem;
  font-family: monospace;
  outline: none;
  transition: border-color 0.3s ease;
}

.contact-input::placeholder,
.contact-textarea::placeholder {
  color: #fff;
}
.contact-textarea {
  min-height: 150px;
  resize: vertical;
}

.contact-button {
  align-self:center;
  background: transparent;
  border: 1px solid #6038ff;
  border-radius: 8px;
  padding: 0.75rem 2rem;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}